.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100 vh;
}

.board {
  display: flex;
  margin: auto;
}

.player-board,
.computer-board {
  display: grid;
  grid-template-columns: repeat(5, 70px); /* 5 solua per rivi */
  grid-template-rows: repeat(4, 70px); /* 4 riviä */
  gap: 10px; /* väli solujen välillä */
  margin-right: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.ship {
  width: 80%;
  height: 80%;
  background-color: gray;
  border-radius: 50%;
}

.cell:hover {
  background-color: lightgray;
}

.background {
  background-color: lightblue;
  height: 100vh;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: darkslateblue;
}

.punainen {
  color: darkred;
  font-weight: bolder;
}

.space {
  margin-bottom: 5px;
  text-align: center;
}
