.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.peliAlusta {
  position: relative;
  text-align: center;
}

.TulosSiirtyma {
  margin-top: 500px;
}

.peliruudukot {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suorakulmio {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 830px;
  height: 370px;
  background-color: transparent;
}

.lopetusTeksti {
  color: rgb(255, 171, 2);
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: orange;
}

.vali {
  width: 100px;
}

.taulukko {
  display: flex;
}

.kayttajanTaulukko {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding-left: 35px;
}

.vastustajanTaulukko {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding-right: 35px;
  padding-left: 40px;
}

.ruutu {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  cursor: pointer;
  border-radius: 10px;
}

.laiva {
  width: 80%;
  height: 80%;
  background-color: gray;
  border-radius: 50%;
}

.cell:hover {
  background-color: lightgray;
}

.background {
  background-color: lightblue;
  height: 100vh;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(239, 103, 44);
}

.punainen {
  color: rgb(239, 103, 44);
  font-weight: bolder;
  list-style-type: none;
}

.kuvanKoko {
  width: 350px;
  height: 250px;
  margin-left: 5%;
}

.teksti {
  color: rgb(239, 103, 44);
}

.taustaKuva {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../src/image/background.png");
  background-size: cover;
  background-position: center;
}

.tulosBoksi {
  background-color: #ff6e304b;
  border: 2px solid #ff6e304b;
  padding: 5px;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff6e30ad;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ff6e3018;
}
.tulosTeksti {
  color: white;
  font-size: 20px;
}

.error {
  color:red;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: red;
}
