.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.peliAlusta {
  margin-top: 40%;
  height: 100vh;
  margin-right: 80%;
}

.TulosSiirtyma {
  padding: 40px;
}

.peliruudukot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* asettaa ruudukot yhdessä keskelle */
}

.vali {
  width: 100px;
}

.taulukko {
  display: flex;
}

.kayttajanTaulukko,
.vastustajanTaulukko {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.ruutu {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  cursor: pointer;
  border-radius: 10px;
}

.laiva {
  width: 80%;
  height: 80%;
  background-color: gray;
  border-radius: 50%;
}

.cell:hover {
  background-color: lightgray;
}

.background {
  background-color: lightblue;
  height: 100vh;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(239, 103, 44);
}

.punainen {
  color: rgb(239, 103, 44);
  font-weight: bolder;
  list-style-type: none;
}

.kuvanKoko {
  width: 350px;
  height: 250px;
  margin-left: 5%;
}

.teksti {
  color: rgb(239, 103, 44);
}

.taustaKuva {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../src/image/background.png");
  background-size: cover;
  background-position: center;
}

.tulosBoksi {
  background-color: #ff6e304b;
  border: 2px solid #ff6e304b;
  padding: 5px;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 12px; /* Aseta vierityspalkin leveys */
}
::-webkit-scrollbar-thumb {
  background-color: #ff6e30ad; /* Aseta vierityspalkin väri */
  border-radius: 6px; /* Pyöristä vierityspalkin reunat */
}

::-webkit-scrollbar-track {
  background-color: #ff6e3018; /* Aseta vierityspalkin reuna-alueen väri */
}
.tulosTeksti {
  color: white;
  font-size: 20px;
}
